<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Url To Short</title>
    <meta name="description" content="URL Shortener Service.">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        URL to Short
      </h1>
    </header>

    <main>
      <p>URL Shortener Service.</p>
      <br/>
      <h2>
        User Stories
      </h2>
      <ul>
        <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
        <li>If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
        <li>When I visit that shortened URL, it will redirect me to my original link.</li>
      </ul>
      <br/>
      <h2>
        How to use
      </h2>
      <ul>
        <li><code>https://url-to-short.glitch.me/http://www.google.com</code></li>
      </ul>
      <h2>
        Expected output
      </h2>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
